{{#> layout}}

<div class="columns is-multiline is-mobile">
  {{#each page.posts.data}}
  <div class="column is-one-quarter">
    <article class="message">
      <div class="message-header">
        <a href={{url_for path}}>
          <p>{{title}}</p>
        </a>
      </div>
      <div class="message-body">
        <p>{{{excerpt}}}</p>
      </div>
    </article>
  </div>
  {{/each}}

  <div class="container has-text-centered">
      <a class="pagination-previous" href="{{url_for page.prev_link}}">Previous</a>
      <a class="pagination-next" href="{{url_for page.next_link}}">Next page</a>
  </div>
</div>

{{/layout}}